@charset 'utf-8';

/* SASS colors */
$sass-orange: hsl(27.1, 100%, 46.9%);
$sass-black: hsl(0, 0%, 0%);
$sass-white: hsl(0, 0%, 100%);
$sass-grey: hsl(0, 0%, 50%);
$sass-light-grey: hsl(0, 0%, 75%);

/* Theme colors */
$theme-primary-color: $sass-orange;
$card-border-color: $sass-grey;
$divider-color: $sass-light-grey;

/* Variables */
$font-stack: (
  'Source Sans Pro',
  'Arial',
  'Helvetica',
  sans-serif,
);

body {
  font-family: $font-stack;
}

#card {
  float: left;
  margin-top: 15vh;
  box-shadow: 2px 2px 2px 2px $card-border-color;

  .row {
    display: flex;
    align-items: center;
  }

  .card-column {
    padding: 48px;
  }

  @media only screen and (max-width: 768px) {
    margin-top: unset;
    box-shadow: unset;
    padding: 0 32px 0 32px;
    .row {
      display: block;
    }
    .card-column {
      padding: 16px;
    }
  }

  #card-left {
    text-align: center;

    #name {
      font-size: 2em;
    }

    em {
      font-size: 1.2em;
      line-height: 2;
    }
  }

  #card-right {
    text-align: center;
    border-left: 2px solid $divider-color;
    @media only screen and (max-width: 768px) {
      border-left: unset;
      border-top: 2px solid $divider-color;

    }

    #social {
      display: inline-block;
      border-collapse: collapse;
      font-size: 2em;
      line-height: 2em;

      a {
        text-decoration: none;
        color:   $theme-primary-color;
        display: table-row;
        border-bottom: 2px solid $sass-white;

        &:hover { border-bottom: 2px solid   $theme-primary-color; }
        i, title { display: table-cell; }
        title { text-align: left; }
      }
    }
  }
}

#profile-picture {
  width: 100%;
  max-width: 300px;
  border-radius: 150px;
}

// Responsive web design
* { box-sizing: border-box; }
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

// Mobile!
@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}