#card {
  float: left;
  margin-top: 15vh;
  box-shadow: 2px 2px 2px 2px $card-border-color;

  .row {
    display: flex;
    align-items: center;
  }

  .card-column {
    padding: 48px;
  }

  //@media only screen and (max-width: 768px) {
  @include respond-to('medium-old') {
    margin-top: unset;
    box-shadow: unset;
    padding: 0 32px 0 32px;
    .row {
      display: block;
    }
    .card-column {
      padding: 16px;
    }
  }

  #card-left {
    text-align: center;
  }

  #card-right {
    text-align: center;
    border-left: 2px solid $divider-color;
    //@media only screen and (max-width: 768px) {
    @include respond-to('medium-old') {
      border-left: unset;
      border-top: 2px solid $divider-color;
    }
  }
}