#card {
  float: left;
  padding: 0 32px 0 32px;

  @include respond-to('medium') {
    box-shadow: 2px 2px 2px 2px $card-border-color;
    margin-top: 15vh;
  }
}

#card-row {
  align-items: center;
  display: block;

  @include respond-to('medium') {
    display: flex;
  }
}

.card-column {
  padding: 16px;
  text-align: center;

  @include respond-to('medium') {
    padding: 48px;
  }
}

// Displays the divider between the card sides
#card-right {
  border-top: 2px solid $divider-color;

  @include respond-to('medium') {
    border-top: unset;
    border-left: 2px solid $divider-color;
  }
}