-
	const SOCIALS = [
		{
			address: 'mailto:josh.moore@jmoore.dev',
			icon: 'far fa-envelope',
			title: 'Email',
			id: 1
		},
		{
			address: 'https://www.linkedin.com/in/joshua-moore-95445313b/',
			icon: 'fab fa-linkedin',
			title: 'LinkedIn',
			id: 2
		},
		{
			address: 'https://github.com/tycrek',
			icon: 'fab fa-github',
			title: 'GitHub',
			id: 3
		},
		{
			address: 'https://twitter.com/tycrek',
			icon: 'fab fa-twitter',
			title: 'Twitter',
			id: 4
		},
		{
			address: 'https://www.instagram.com/joshua.moore.dev/',
			icon: 'fab fa-instagram',
			title: 'Instagram',
			id: 5
		}
	];
-
	const DATA = {
		name: 'Joshua Moore',
		career: 'Software developer',
		location: 'Edmonton, Alberta',
		photo: {
			src: 'https://space.jmoore.dev/images/profile-normal-small.jpg',
			alt: 'Profile picture of Joshua Moore.'
		},
		bus: 'https://space.jmoore.dev/images/bus-401.png'
	};
-
	const head = {
		meta: {
			viewport: 'width=device-width, initial-scale=1.0,viewport-fit=cover',
			description: 'Personal website of Joshua Moore, software developer in Edmonton, Alberta',
			keywords: 'joshua,moore,josh,programmer,developer,edmonton,alberta,software,dev',
			author: DATA.name,
			google: 'nositelinkssearchbox notranslate',
			'apple-mobile-web-app-capable': 'yes',
			'apple-mobile-web-app-status-bar-style': 'black'
		},
		link: {
			author: 'mailto:josh.moore@jmoore.dev',
			icon: [
				{
					href: 'https://space.jmoore.dev/images/favicon.ico',
					type: 'image/x-icon'
				},
				{
					href: 'https://space.jmoore.dev/images/favicon.png',
					type: 'image/png'
				}
			],
			stylesheet: [
				{
					href: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap',
					type: 'text/css'
				},
				{
					href: 'css',
					type: 'text/css'
				}
			],
			'apple-touch-icon': 'https://space.jmoore.dev/images/apple-touch-icon.png'
		},
		script: {
			fontAwesome: {
				src: 'https://kit.fontawesome.com/f2f926ac2d.js',
				crossorigin: 'anonymous',
				integrity: 'sha384-7uTRzazbrutfIzOojrJw4QL+wCBwLn03McGtkCd53kDbTPTqB20x+Ah36TGTcRHB'
			}
		}
	};
-
	const About = {
		img: 'https://space.jmoore.dev/images/joshua-moore-1.jpg',
	};