-
	const SOCIALS = {
		email: {
			address: 'mailto:josh.moore@jmoore.dev',
			icon: 'far fa-envelope',
		},
		linkedin: {
			address: 'https://www.linkedin.com/in/joshua-moore-95445313b/',
			icon: 'fab fa-linkedin',
		},
		github: {
			address: 'https://github.com/tycrek',
			icon: 'fab fa-github',
		},
		twitter: {
			address: 'https://twitter.com/tycrek',
			icon: 'fab fa-twitter',
		},
		instagram: {
			address: 'https://www.instagram.com/joshua.moore.dev/',
			icon: 'fab fa-instagram',
		},
		about: {
			address: '/about',
			icon: 'far fa-address-card'
		}
	};
-
	const DATA = {
		name: 'Joshua Moore',
		career: 'Software developer',
		location: 'Edmonton, Alberta',
		photo: {
			src: 'https://space.jmoore.dev/images/profile-normal-small.jpg',
			alt: 'Profile picture of Joshua Moore.'
		},
		bus: 'https://space.jmoore.dev/images/bus-401.png'
	};
-
	const head = {
		meta: {
			viewport: 'width=device-width, initial-scale=1.0,viewport-fit=cover',
			description: 'Personal website of Joshua Moore, software developer in Edmonton, Alberta',
			keywords: 'joshua,moore,josh,programmer,developer,edmonton,alberta,software,dev',
			author: DATA.name,
			google: 'nositelinkssearchbox notranslate',
			'apple-mobile-web-app-capable': 'yes',
			'apple-mobile-web-app-status-bar-style': 'black'
		},
		link: {
			author: 'mailto:josh.moore@jmoore.dev',
			icon: [
				{
					href: 'https://space.jmoore.dev/images/favicon.ico',
					type: 'image/x-icon'
				},
				{
					href: 'https://space.jmoore.dev/images/favicon.png',
					type: 'image/png'
				}
			],
			stylesheet: [
				{
					href: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap',
					type: 'text/css'
				},
				{
					href: 'css',
					type: 'text/css'
				}
			],
			'apple-touch-icon': 'https://space.jmoore.dev/images/apple-touch-icon.png'
		},
		script: {
			fontAwesome: {
				src: 'https://kit.fontawesome.com/f2f926ac2d.js',
				crossorigin: 'anonymous',
				integrity: 'sha384-7uTRzazbrutfIzOojrJw4QL+wCBwLn03McGtkCd53kDbTPTqB20x+Ah36TGTcRHB'
			},
			jQuery: {
				src: 'https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js',
				crossorigin: 'anonymous',
				integrity: 'sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo='
			},
			moment: {
				src: 'https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.js',
				crossorigin: 'anonymous',
				integrity: 'sha256-H9jAz//QLkDOy/nzE9G4aYijQtkLt9FvGmdUTwBk6gs='
			}
		}
	};
-
	const About = {
		img: 'https://space.jmoore.dev/images/joshua-moore-1.jpg',
		img2: 'http://microbiology.washington.edu/sites/all/themes/micro/images/silhouette.png',
		edu: {
			nait: {
				school: 'Northern Alberta Institute of Technology',
				city: 'Edmonton, Alberta',
				start: 'September 2018',
				end: 'December 2018',
				degree: 'PC Service & Support Certificate'
			},
			macewan: {
				school: 'MacEwan University',
				city: 'Edmonton, Alberta',
				start: 'September 2019',
				end: 'April 2023 (estimated)',
				degree: 'B.Sc. Computer Science'
			}
		},
		jobs: {
			uofa: {
				company: 'University of Alberta',
				city: 'Edmonton, Alberta',
				title: 'Ross and Verna Tate High School Internship Program',
				when: 'Summer 2017',
			},
			pcl: {
				company: 'PCL Industrial Management Inc.',
				city: 'Edmonton, Alberta',
				title: 'Business Technology Student',
				when: 'January 2019 - August 2019',
			}
		},
		skills: {
			programming: [
				'Java',
				'Python',
				'JavaScript',
				'HTML5 & Pug',
				'CSS3 & Sass',
				'Node.js',
			],
			it: [
				'PC & smartphone troubleshooting & repair',
				'Windows, Android, & iOS troubleshooting',
			],
			admin: [
				'Ubuntu server',
				'Network setup & security',
				'Domain name management',
			]
		}
	};