head
	meta(charset='utf-8')

	title= headTitle
	meta(name='description' content=headDescription)

	+meta('viewport')
	+meta('keywords')
	+meta('author')

	+link('author')
	+link('icon')

	+meta('google')

	+link('apple-touch-icon')
	+meta('apple-mobile-web-app-capable')
	+meta('apple-mobile-web-app-status-bar-style')

	//- Styles
	+link('stylesheet')

	//- Scripts
	script&attributes(main.head.script.fontAwesome)
	script&attributes(main.head.script.jQuery)
	script&attributes(main.head.script.moment)