mixin strongLink(link, text)
	a.strong-link(href=link) #[strong #{text}]

mixin youtubeEmbed(videoId)
	iframe.yt-embed(src=`https://www.youtube.com/embed/${videoId}` frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
	text &nbsp;