//- Default scripts used in _main.pug
link(rel='stylesheet', href='/css', type='text/css')
script(src='https://kit.fontawesome.com/f2f926ac2d.js', crossorigin='anonymous', integrity='sha384-7uTRzazbrutfIzOojrJw4QL+wCBwLn03McGtkCd53kDbTPTqB20x+Ah36TGTcRHB')
script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js', crossorigin='anonymous', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=')
script(src='https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.js', crossorigin='anonymous', integrity='sha256-H9jAz//QLkDOy/nzE9G4aYijQtkLt9FvGmdUTwBk6gs=')
link(rel='stylesheet', media='screen', href='https://fontlibrary.org/face/thsarabun-new', type='text/css')
link(rel='stylesheet', media='screen', href='https://fontlibrary.org/face/boon', type='text/css')

script.
	$('#mobile-menu').click((e) => {
		$('#menu, .menu.desktop').slideToggle('fast');
	});