extends ../../_main
block title
	title n o s t a l g i a
block content
	h2 <i class="fas fa-tv-retro"></i> Nostalgia

	+youtubeEmbed('HmZm8vNHBSU')
	+youtubeEmbed('ZUHTz2GQWz0')
	+youtubeEmbed('8SsW91e8qP8')
	+youtubeEmbed('22KDXkRWwsI')
	+youtubeEmbed('XAgX4QEV9Ts')
	+youtubeEmbed('KmtzQCSh6xk')
	+youtubeEmbed('Tx1XIm6q4r4')
	+youtubeEmbed('vTIIMJ9tUc8')
	+youtubeEmbed('02vDkMEdIkY')
	+youtubeEmbed('Hy8kmNEo1i8')
	+youtubeEmbed('MmB9b5njVbA')
	+youtubeEmbed('waEC-8GFTP4')
	+youtubeEmbed('twqM56f_cVo')

block append scripts
	//- Links to any extra external or inline scripts/stylesheets.
		Can use either block to replace all defaults (not recommended!)
		Or can use append to add on to existing defaults (recommended).

//- Checklist:
	1. Properly extends _main?
	2. Page has a Title?
	3. Page has a manifest (if required)?
	4. Page has content (leave blank for coming soon)?
	5. Page has scripts/styles if needed?
	6. Page has relevant Sass?
	7. Page is working both mobile & desktop?