.index.social#container: table.index.social#table
	tr.index.social#row1
		+socialLink(main.socials.about)
		+socialLink(main.socials.email)
		+socialLink(main.socials.github)
	tr.index.social#row2
		+socialLink(main.socials.linkedin)
		+socialLink(main.socials.twitter)
		+socialLink(main.socials.instagram)