.index.social#container
	table.index.social#table
		tr.index.social#row1
			+socialLink(SOCIALS.about)
			+socialLink(SOCIALS.email)
			+socialLink(SOCIALS.github)
		tr.index.social#row2
			+socialLink(SOCIALS.linkedin)
			+socialLink(SOCIALS.twitter)
			+socialLink(SOCIALS.instagram)