extends ../../../main
block content
	.col-12.cfar#careforaride
		.cfar#landing
			.row.cfar#header
				.col-1 &nbsp;
				.col-4: a.cfar.title.nav-link(href='') Care For A Ride
				.col-7.row.cfar#navigation
					.col-2: a.cfar.nav-link(href='#rates') Rates
					.col-2: a.cfar.nav-link(href='#contact') Contact
					.col-2: a.cfar.nav-link(href='#reviews') Reviews
					.col-2: a.cfar.nav-link(href='#about') About
					.col-2: a.cfar.nav-link(href='#careers') Careers
			.cfar#banner
				.cfar.title Care For A Ride
				.cfar.phone (780) 417-2222

		.row.cfar#body
			.col-2 &nbsp;
			.col-8 Hello there!
			.col-2 &nbsp;