#social {
  display: inline-block;
  border-collapse: collapse;
  font-size: 2em;
  line-height: 2em;

  a {
    text-decoration: none;
    color: $theme-primary-color;
    display: table-row;
    border-bottom: 2px solid $sass-white;

    &:hover { border-bottom: 2px solid $theme-primary-color; }
    i, title { display: table-cell; }
    title { text-align: left; }
  }
}