extends index
block bus
	center
		h1= data.school
		each route in data.routes
			-
				var number = route.split(' ')[0];
				var stationCode = number.split('')[1];
				var station = stationCode == 0 ? 'Ordze' : 'Bethel';
				var text = `Route ${route} (${station})`;
				if (text.includes('_')) text = text.replace('_', ' ').replace('s', 'S');

				var href = route === '403' ? data._403 : route.replace('_', '/');
			+transitLink({ href: href, text: text })
			br