extends ../../main
block content
	.col-12.bus#column
		include ../../components/bus/header
		block bus
			//-include ../components/bus/table
			center
				h2 No bus route selected!
	script(src='/javascript/bus.js' type="text/javascript")