.about.skills#header
	span.span-h2 Technical Skills
.about.skills#body
	br
	span.span-h3 Programming
	ul: each val in data.skills.programming
		li= val

	span.span-h3 Information Technology
	ul: each val in data.skills.it
		li= val

	span.span-h3 System &amp; Network Administration
	ul: each val in data.skills.admin
		li= val