.about {
  &.card-column {
    display: flex;
  }

  &.card {
    padding: 16px;
    width: 100%;
    @include mobileSeparator;
    @include shadowBorder;

  }

  &#img {
    width: 100%;
    // Remove in production
    border: 1px solid black;
  }

  &#body {
    padding-left: 16px;
  }

  @include respond-to('medium') {
    &#row {
      display: flex;
    }
  }
}

#about-1 {
  border-top: unset;
}