.about {
  &.card-column {
    display: flex;
    padding: 32px;
    padding-top: 0;
    padding-bottom: 0;
  }

  &.card {
    padding: 16px;
    width: 100%;
    @include mobileSeparator;
    @include shadowBorder;

  }

  &#img {
    width: 80%;
    margin-top: 1em;
    margin-bottom: 16px;
    // Remove in production
    //border: 1px solid black;
    @include shadowBorderForce;
  }

  &#body {
    padding-left: 16px;
  }

  @include respond-to('medium') {
    &#row {
      display: flex;
      padding-top: 32px;
    }
  }
}

#about-1 {
  border-top: unset;
}