.bus {
  &.row:nth-child(even) { background-color: gainsboro; }
  &.row:nth-child(odd) { background-color: whitesmoke; }
  &.cell {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px 24px 10px 24px;
  }

  &#column {
    margin-bottom: 32px;
    text-align: center;
    width: 100%;
  }

  &#table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }

  &#header {
    font-size: 1.25em;
  }
}

.bus.cell.old-bus {
  color: grey;
  background-color: darkgrey;
  font-style: italic;
  padding: 2px 2px 2px 2px;
}

.next-bus {
  color: whitesmoke;
  background-color: #8BC34A;
  font-weight: bold;
  text-shadow: 1px 1px 1px $sass-dark-grey;
}

.primary {
  &#table {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
  }

  .transit-link {
    display: inline-block;
    padding: 4px 8px 4px 8px;
  }
}

.clock {
  &.cell {
    min-width: 0.4em;
  }

  &#table {
    font-size: 2em;
    font-weight: bold;
    //margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
  }

  &#ampm::before {
    content: $nbsp;
  }
}

.transit-link {
  background-color: $sass-bus-green;
  &:hover {
    background-color: darken($sass-bus-green, 5%);
  }

  box-shadow: 0 3px darken($sass-bus-green, 20%);
  &:active {
    box-shadow: inset 0 3px darken($sass-bus-green, 20%);
  }

  border: 1px solid darken($sass-bus-green, 20%);
  border-radius: 8px;

  text-shadow: 1px 1px 1px $sass-dark-grey;
  padding: 8px;
  color: $sass-white;
  text-decoration: none;

  display: table-cell;
  font-size: 1.5em;
  font-weight: bold;

  &.small {
    font-size: 1.25em;
  }
}