.index#main {
  text-align: center;
  @include device('desktop') {
    margin-top: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
    @include shadowBorder;
  }
}

.index.row {
  margin: 1em;
}

/* Profile */
.profile {
  font-size: 1.5em;
  &#name {
    font-size: 2.5em;
    display: block;
  }
}

/* Social */
.social#container {
  @include device('desktop') {
    padding-left: 5em;
    padding-right: 5em;
  }
}

.social#table {
  table-layout: fixed;
  width: 100%;
}

.social.item {
  color: $theme-primary-color;
  text-decoration: none;

  // Add a "hidden" underline to prevent shifting on hover
  // Display an underline when the mouse hovers the element
  border-bottom: 2px solid $sass-white;
  &:hover {
    border-bottom: 2px solid $theme-primary-color;
  }
}