/* Sidebar */
body {
  color: #EEEEEE;
  font-family: 'THSarabunNewRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}
h1, h2, h3, h4, h5, h6, .sidebar {
  font-family: 'Boon300';
}

#sidebar {
  h2 { margin-bottom: 0.25em; }
  img {
    width: 100%;
    max-width: 256px;
    border-radius: 32px;
    border: 1px solid #EEE;
  }
  background-color: #757575;
  padding: 1em 1em 0 1em;
  text-align: center;
  @include device('desktop') {
    height: 100vh;
    text-align: left;
  }
}

span.sidebar.menu {
  @include mdswitch(block);
}

/* Content */
#new-content {
  background-color: #424242;
  padding: 1em 2em 0 2em;
  img {
    width: 100%;
    border-radius: 32px;
    border: 1px solid #EEE
  }
  @include device('desktop') {
    height: 100vh;
    overflow-y: scroll;
    padding: 2em 4em 0 4em;
  }
}















/* links.css - v0.0.1 - "Smarter defaults for links"
   License MIT */
a{transition:color .4s;color:#00BCD4;}
a:link,a:visited{color:#00BCD4;}
a:hover{color:#80DEEA;}
a:active{transition:color .3s;color:#00838F;}
a,.link{text-decoration:none;}