.desktop {
  display: none;
  @include device('desktop') {
    display: unset;
  }
}
.mobile {
  @include device('desktop') {
    display: none;
  }
}

#sidebar {
  background-color: cornflowerblue;
}

#new-content {
  background-color: cornsilk;
}