/* Sidebar */
#sidebar {
  background-color: cornflowerblue;

  @include device('desktop') {
    height: 100vh;
  }
}

span.sidebar.menu {
  @include mdswitch(block);
}

/* Content */
#new-content {
  background-color: cornsilk;

  @include device('desktop') {
    height: 100vh;
    overflow-y: scroll;
  }
}