#card-index {
  float: left;
  padding: 0 32px 0 32px;

  @include shadowBorder;
  @include respond-to('medium') {
    margin-top: 15vh;
  }
}

#card-index-row {
  align-items: center;
  display: block;
  text-align: center;

  @include respond-to('medium') {
    display: flex;
  }
}

// Displays the divider between the card sides
#card-index-right {
  @include mobileSeparator;
  @include respond-to('medium') {
    border-left: 2px solid $divider-color;
  }
}