#card-index {
  padding: 0 32px 0 32px;

  @include shadowBorder;
  @include device('tablet') {
    margin-top: 15vh;
  }
}

#card-index-row {
  align-items: center;
  display: block;
  text-align: center;

  @include device('tablet') {
    display: flex;
  }
}

// Displays the divider between the card sides
#card-index-right {
  @include mobileSeparator;
  @include device('tablet') {
    border-left: 2px solid $divider-color;
  }
}