extends ../main
block content
	.about#row
		.col-4.card-column.about
			.about.card#about-1
				include ../components/about/main
		.col-4.card-column.about
			.about.card#about-2
				include ../components/about/education
				include ../components/about/jobs
		.col-4.card-column.about
			.about.card#about-3
				include ../components/about/skills