extends ../main
block content
	.col-4.card-column.about-card#about-1
		h1 About Me
		img(src=About.img)#about-img
	.col-4.card-column.about-card#about-2
		h2 Education
		br
		h2 Job Experience
	.col-4.card-column.about-card#about-3
		h2 Technical Skills