extends ../main
block content
	.col-2 &nbsp;
	.col-8#card
		.row#card-row
			//- Card left
			.col-6.card-column#card-left
				include ../components/cardLeft

			//- Card right
			.col-6.card-column#card-right
				include ../components/cardRight
	.col-2 &nbsp;