extends ../main
block content
	.col-2 &nbsp;
	.col-8.index#main
		.row.index
			//- Card left
			.col-6.card-column.index.card#left
				include ../components/index/cardLeft

			//- Card right
			.col-6.card-column.index.card#right
				include ../components/index/cardRight
	.col-2 &nbsp;