extends ../_main
block title
	title Josh Moore - Web Developer
block content
	center.banner: img(src='/images/jm-vancouver-bc.jpeg', width='100%')#banner
	h2 #[i.fas.fa-grin] Hello!
	p My name is Joshua Moore and I am a self-taught full-stack web developer with a passion for #[a(href='https://github.com/tycrek/', target='_blank') open source projects]. I enjoy exploring topics such as security and privacy.
	p The first programming language I learned was Java at age 10. I loved building simple text-based adventure/combat games. I also first started building GUI's in Java using the #[a(href='https://docs.oracle.com/javase/7/docs/api/javax/swing/JFrame.html') JFrame library]. From there, I learned Python, and eventually started learning basic HTML and CSS.
	p Programming isn't my only hobby; I also love to build computers and manage servers and networks. My OS of choice for servers is Ubuntu 18.04. My personal laptop is running #[a(href='https://manjaro.org/') Manjaro] with i3-gaps.
	h3 #[i.fas.fa-usd-circle] Feeling generous?
	p If you like my projects and want to help support development, #[a(href='https://paypal.me/jmoore235' target='_blank') consider donating]! It helps me pay for my VPS and domain name.