extends ../_main
block title
	title Josh Moore - Web Developer
block content
	center.banner: img(src='/images/jm-vancouver-bc.jpeg', width='100%')#banner
	h2 #[i.fas.fa-user-circle] About Me
	p My name is Joshua Moore and I am a Bachelor of Science student majoring in Computer Science at MacEwan University in Edmonton Alberta. I am a self-taught full stack web developer with a passion for open source projects (in fact, this entire website is #[a(href='https://github.com/tycrek/jmoore.dev') open source]!)
	h4 #[i.fas.fa-usd-circle] Feeling generous?
	p If you like my projects and want to help support development, consider donating! Available options:
	ul
		li #[i.fab.fa-paypal] #[a(href='https://paypal.me/jmoore235' target='_blank') PayPal]
		li #[i.fab.fa-bitcoin] #[span.monospace 3Exx8zyDw4dYBWgzYAXKaXUbXtZxQvA4mQ]