extends ../main
block content
	.col-2 &nbsp;
	.col-8#card-index
		.row#card-index-row
			//- Card left
			.col-6.card-column#card-index-left
				include ../components/index/cardLeft

			//- Card right
			.col-6.card-column#card-index-right
				include ../components/index/cardRight
	.col-2 &nbsp;