extends ../_main
block title
	title Links
block content
	h2 <i class="fas fa-link"></i> Links
	ul
		li #[a(href='/uses') Uses] - List of software and tools I use
		li #[a(href='/nostalgia') Nostalgia] - Collection of YouTube videos from my childhood
		li #[a(href='/minecraft') Minecraft] - Includes a remake of the original #[a(href='https://www.youtube.com/watch?v=MmB9b5njVbA') Official Minecraft Trailer] I made with my girlfriend on our survival surver. You can also download my custom resource pack here.
block append scripts
	//- Links to any extra external or inline scripts/stylesheets.
		Can use either block to replace all defaults (not recommended!)
		Or can use append to add on to existing defaults (recommended).

//- Checklist:
	1. Properly extends _main?
	2. Page has a Title?
	3. Page has a manifest (if required)?
	4. Page has content (leave blank for coming soon)?
	5. Page has scripts/styles if needed?
	6. Page has relevant Sass?
	7. Page is working both mobile & desktop?