extends ../_main
block title
	title Minecraft
block content
	h2 <i class="fas fa-swords"></i> Minecraft
	.col-12
		h3 Resource pack
		p I'm experimenting with making resource packs because I didn't like flying the nether highways on 2b2t.org. The original plan was to just change the obsidian texture but I've also added a few other things. Photos coming soon!
		p: strong Features
		ul
			li #[strong Softer obsidian] is easier on the eyes and not as dark as vanilla.
			li #[strong Softer netherrack] is also easier on the eyes. Both the obsidian and netherrack use a coloured version of the stone texture.
			li #[strong Steve totem] because why not. Totem of Undying now looks like Steve.
			li #[strong MEG pickaxe] just looks cool and I'm apart of the #[strong Motorway Extension Guru's] group on 2b2t.
		p: strong Installation
		ol
			li: strong: a(href='/tycreks_obby.zip' download) Click here to download
			li Do not unzip the file. Place the zip file in your resource packs folder. Click #[a(target='_blank' href='https://www.wikihow.com/Install-Minecraft-Resource-Packs') here] if you don't know how to install resource packs.
			li Go into single player or multiplayer and enjoy!
		p: strong FAQ
		ul
			li #[strong Q: Is this a virus? A:] Lol.
			li #[strong Q: Does it work with other packs? A:] Yes. Just place this one at the top of the list to override the other packs.
			li #[strong Q: Can you add x texture? A:] No. I don't do requests.
			li #[strong Q: Steve totem is ugly, fix him! A:] No. He's my child.
			li #[strong Q: I don't like MEG pickaxe. Can I remove it? A:] Yes. Unzip the pack, navigate to the folder containing the file #[code diamond_pickaxe.png] and just delete that file. Then zip the pack again and put it back into the resource packs folder.
			li #[strong Q: How did you make the pack? A:] I used #[a(target='_blank' href='https://mcrpw.github.io/') RPW] and GIMP.
	.col-12
		h3 Trailer
		center: video(controls src='/MinecraftTrailerReborn.mp4' style='width: 90%;')
block append scripts
	//- Links to any extra external or inline scripts/stylesheets.
		Can use either block to replace all defaults (not recommended!)
		Or can use append to add on to existing defaults (recommended).

//- Checklist:
	1. Properly extends _main?
	2. Page has a Title?
	3. Page has a manifest (if required)?
	4. Page has content (leave blank for coming soon)?
	5. Page has scripts/styles if needed?
	6. Page has relevant Sass?
	7. Page is working both mobile & desktop?