extends ../_main
block title
	title Minecraft
block content
	h2 <i class="fas fa-swords"></i> Minecraft
	.col-6
		h3 Resource pack
		p This project has been moved to #[a(href='https://github.com/tycrek/tycreks-custom-pack' target='_blank') my GitHub], please go there for any updates.
	.col6
		h3 Custom Totems
		p Ever wanted your Minecraft skin as a Totem of Undying? Check out my #[a(href="/custom-totem") Custom Totem generator] to get yours! Right now it only works for Minecraft 1.12.2; if there is interest I may add support for more in the future.
	.col-12
		h3 Trailer
		center: video(controls src='/MinecraftTrailerReborn.mp4' style='width: 90%;')
block append scripts
	//- Links to any extra external or inline scripts/stylesheets.
		Can use either block to replace all defaults (not recommended!)
		Or can use append to add on to existing defaults (recommended).

//- Checklist:
	1. Properly extends _main?
	2. Page has a Title?
	3. Page has a manifest (if required)?
	4. Page has content (leave blank for coming soon)?
	5. Page has scripts/styles if needed?
	6. Page has relevant Sass?
	7. Page is working both mobile & desktop?