[Unit]
Description=Run jmoore.dev website as Node.js daemon
After=network.target auditd.service

[Service]
WorkingDirectory=/home/nodejs/jmoore.dev/
ExecStart=/usr/bin/node /home/nodejs/jmoore.dev/index.js
User=nodejs
Group=nodejs

[Install]
WantedBy=multi-user.target
