body {
  color: #EEEEEE;
  font-family: 'THSarabunNewRegular', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}

.monospace {
  font-family: monospace;
  font-size: 0.75em;
  background-color: #546E7A;
  padding: 5px;
}


h1, h2, h3, h4, h5, h6, #sidebar {
  font-family: 'SansitaRegular', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.sidebar#icon {
  color: #EEE;
}

/*
  links.css - v0.0.1 - "Smarter defaults for links"
   License MIT
*/
a {
  transition: color .4s;
  color: #00BCD4;
  outline: 0;
  text-decoration: none;
}
a:link, a:visited {
  color: #00BCD4;
}
a:hover {
  color: #80DEEA;
}
a:active {
  transition: color .3s;
  color: #00838F;
}