body {
  font-family: $font-stack;
  color: hsl(0, 0, 15%);
}

.span-h1 { font-size: 2em; }
.span-h2 { font-size: 1.5em; }
.span-h3 { font-size: 1.17em; }
.span-h4 { font-size: 1em; }
.span-h5 { font-size: 0.83em; }
.span-h6 { font-size: 0.67em; }
[class*="span-h"] { font-weight: bold; }

.fa-address-card {
  color: #00C853;
}

.fa-envelope {
  color: #FF6D00;
}

.fa-github {
  color: #24292e;
}

.fa-linkedin {
  color: #2867b2;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-instagram {
  color: #e1306c;
}

a {
  outline: 0;
}