#education-header
	i.far.fa-school.fa-2x
	=" "
	span.span-h2 Education
#education-body
	//- Need to add:
		- NAIT
		- MacEwan University
#jobs-header
	i.far.fa-briefcase.fa-2x
	=" "
	span.span-h2 Work Experience
#jobs-body
	//- Need to add:
		- University of Alberta - Ross & Verna Tate High School Internship Program
		- PCL Industrial