.about.education
	.about.education#header
		//-i.far.fa-school.fa-2x
		//-=" "
		span.span-h1 Education
	.about.education#body
	//- Need to add:
		- NAIT
		- MacEwan University

.about.jobs
	.about.jobs#header
		//-i.far.fa-briefcase.fa-2x
		//-=" "
		span.span-h1 Work Experience
	.about.jobs#body
		//- Need to add:
			- University of Alberta - Ross & Verna Tate High School Internship Program
			- PCL Industrial