.about.skills#header
	//-i.far.fa-cogs.fa-lg
	//-+iconSpace
	span.span-h2 Technical Skills
.about.skills#body
	//-i.far.fa-code.fa-lg
	//-+iconSpace
	span.span-h3 Programming
	br

	//-i.far.fa-tools.fa-lg
	//-+iconSpace
	span.span-h3 Information Technology
	br

	//-i.far.fa-server.fa-lg
	//-+iconSpace
	span.span-h3 System &amp; Network Administration

//-
	#jobs-header
		i.far.fa-briefcase.fa-2x
		=" "
		span.span-h2 Work Experience
//- ### Technical skills
	- Programming
	  - Java
	  - Python
	  - JavaScript
	  - HTML5/Pug
	  - CSS3/SASS
	- Information Technology
	  - Computer & smartphone troubleshooting & repair
	  - Operating system troubleshooting: Windows, Android, iOS
	- System & Network Administration
	  - Ubuntu server
	  - Network setup & security
	  - Domain management