div
	img#photo(
		src='https://space.jmoore.dev/images/profile-normal-small.jpg'
		alt='Profile picture of Joshua Moore.'
	)
div
	strong#name Joshua Moore
	em#career Software developer
	i.fas.fa-map-marker-alt
	span#location Edmonton, Alberta