center
	img(src='/images/profile/joshua-moore-fountain.jpg')#profile
	table.sidebar.social: tr.sidebar.social
		th.sidebar.social#social-github
			a(href='https://github.com/tycrek' target='_blank')
				i.fab.fa-github.sidebar#icon
		th.sidebar.social#social-email
			a(href='mailto:josh.moore@jmoore.dev')
				i.fas.fa-envelope.sidebar#icon
		th.sidebar.social#social-dev-to
			a(href='https://dev.to/tycrek' target='_blank')
				i.fab.fa-dev.sidebar#icon
		//-th.sidebar.social
			a(href='https://www.linkedin.com/in/jmooredev/' target='_blank')
				i.fab.fa-linkedin.sidebar#icon
		th.sidebar.social#social-twitter
			a(href='https://twitter.com/tycrek' target='_blank')
				i.fab.fa-twitter.sidebar#icon
h2#sidebar-title Josh Moore
span.sidebar.menu.mobile#mobile-menu #[i.fas.fa-bars] &nbsp;&nbsp; Menu
.desktop.sidebar#menu
	table.sidebar.menu
		tr.sidebar.menu
			td.sidebar.menu.icon: i.fas.fa-home
			td.menu: +strongLink('/', ' Home')
		tr.sidebar.menu
			td.sidebar.menu.icon: i.fas.fa-cogs
			td.menu: +strongLink('/services', ' Services')
		tr.sidebar.menu
			td.sidebar.menu.icon: i.fas.fa-link
			td.menu: +strongLink('/links', ' Links')
		tr.sidebar.menu
			td.sidebar.menu.icon: i.fas.fa-code
			td.menu: +strongLink('/projects', ' Projects')