extends _main
block content
	.col-3#sidebar
		h2 Sidebar
		p.mobile Menu
		br
		p.desktop Content 1
		br
		p.desktop Content 2
		br
		p.desktop Some other content
	.col-9#new-content
		p Really long paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur imperdiet nisi sed facilisis. Vestibulum elementum massa purus, sed accumsan lorem viverra imperdiet. Donec pellentesque convallis eleifend. Duis lobortis placerat nisi. Nulla quis diam justo. Nulla mattis faucibus purus, vitae commodo mauris cursus eget. Aliquam congue augue nec luctus interdum. Nam vitae odio cursus, scelerisque massa vitae, pellentesque diam. Nulla rhoncus nulla dolor, at tincidunt felis imperdiet eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur imperdiet nisi sed facilisis. Vestibulum elementum massa purus, sed accumsan lorem viverra imperdiet. Donec pellentesque convallis eleifend. Duis lobortis placerat nisi. Nulla quis diam justo. Nulla mattis faucibus purus, vitae commodo mauris cursus eget. Aliquam congue augue nec luctus interdum. Nam vitae odio cursus, scelerisque massa vitae, pellentesque diam. Nulla rhoncus nulla dolor, at tincidunt felis imperdiet eget.