extends _main
block content
	center: img(src='/images/jm-vancouver-bc.jpeg', width='100%')
	h2 #[i.fas.fa-user-circle] About Me
	p My name is Joshua Moore and I am a Bachelor of Science student majoring in Computer Science at MacEwan University in Edmonton Alberta. I am a self-taught full stack web developer with a passion for open source projects (in fact, this entire website is #[a(href='https://github.com/tycrek/jmoore.dev') open source]!)
